h1 {
    font-size: 3.5em;
    line-height: 0;
}

h1, h2 {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: .1em;
}

blockquote {
    color: hsl(30, 85%, 45%);
    font-size: 1.5em;
}

blockquote::first-letter {
    font-size: 1.5em;
}

footer {
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    background-color: hsl(30, 85%, 45%);
}